{% extends "base.html" %}
{% block title %} title {% endblock %}
{% block content %}
  <script>
    function openLoader() {
        document.getElementById("loadingModal").style.display = "block";
      }
  </script>
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          {% block card_header %} card_header {% endblock %}
        </div>
          <div class="card-body">
          {% load user_filters %}
              {% if form.errors %}
                  {% for field in form %}
                    {% for error in field.errors %}
                      <div class="alert alert-danger">
                        {{ error|escape }}
                        {{ field.id_for_label }} 1 {{ field.value }}
                      </div>
                    {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                      {{ error|escape }}
                      {{ field.id_for_label }} 2 {{ field.value }}
                    </div>
                  {% endfor %}
              {% endif %}

              {# Передаем форму #}
              {% block form_body %} {% endblock %}
              {% csrf_token %}

              {# Выводим поля в цикле, по отдельности #}
              {% for field in form %}
              <div class="form-group row my-3"
                {% if field.field.required %}
                  aria-required="true"
                {% else %}
                  aria-required="false"
                {% endif %}
              >
              <label for="{{ field.id_for_label }}">
                  {% if field.is_hidden %}
                    {{ field }}
                  {% elif field %}
                    {{ field.label }}
                    {% if field.field.required %}
                      <span class="required text-danger">*</span>
                    {% endif %}
                  {% endif %}
              </label>
              </div>
              <div>
                {{ field|addclass:'form-control' }}
                {% if field.help_text %}
                  <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                    {{ field.help_text|safe }}
                  </small>
                {% endif %}
              </div>
              {% endfor %}
              <br>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">
                    {% block button_name %}{% endblock %}
                </button>
                {% if ext_data %}
                  {% block ext_data %}  {% endblock %}
                {% endif %}
              </div>
            </form>
          </div> <!-- card body -->
        </div> <!-- card -->
        <div id="loadingModal" style="display: none;">
          <br>
          <div class="d-flex justify-content-between text-primary">
            <strong>Отправка команд...</strong>
            <div class="spinner-border ms-auto text-primary" role="status" aria-hidden="true"></div>
          </div>
          <br>
        </div>
        {% if messages %}
          <br>
          <div class="card">
              <ul class="messages">
                {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
          </div>
        {% endif %}
      </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}