{% with request.resolver_match.view_name as view_name %}
<div class="d-flex flex-column flex-shrink-0  bg-light">
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{% url 'core:index' %}" class="nav-link {% if view_name  == 'core:index' %}active{% endif %}">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Главная страница
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'backupcfg:backup_cfg' %}"
           class="nav-link {% if view_name  == 'backupcfg:backup_cfg' %}active{% endif %}">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#database-down"></use></svg>
            Резервное копирование конфигураций АСО
        </a>
      </li>      
      <li class="nav-item">
        <a href="{% url 'bulksendcfg:bulk_send_cmd' %}"
           class="nav-link {% if view_name  == 'bulksendcfg:bulk_send_cmd' %}active{% endif %}">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
            Настройка группы устройств
        </a>
      </li>
      <li>
        <a href="{% url 'swportmgmt:switch_port_mgmt' %}" 
           class="nav-link {% if view_name  == 'swportmgmt:switch_port_mgmt' %}active{% endif %}">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#outlet"></use></svg>
          Управление портами коммутаторов
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Customers
        </a>
      </li>
    </ul>
    <hr>
  </div>
{% endwith %}
