{% extends "includes/form_base.html" %}

{% block title %}
  Войти
{% endblock %}

{% block card_header %}
  Войти на сайт
{% endblock %}

{% block form_body %}
  <form method="post"
      {% if action_url %}
        action="{% url action_url %}"
      {% endif %}
  >
{% endblock %}

{% block button_name %}
  Войти
{% endblock %}

{% block ext_data %}
<!-- Тест на внимательность. Без переопределения шаблона этого адреса
не существует. Нужно что-то делать, иначе все упадет -->
<a href="{% url 'users:password_reset' %}" class="btn btn-link">
  Забыли пароль?
</a>
{% endblock %}