{% extends "includes/form_base.html" %}

{% block title %}
  {% if is_edit %}
    Редактировать запись
  {% else %}
    Добавить запись
  {% endif %}
{% endblock %}

{% block card_header %}
  {% if is_edit %}
    Редактируем пост
  {% else %}
    Новый пост
  {% endif %}
{% endblock %}

{% block form_body %}
  <form method="post"
      {% if action_url %}
        action="{% url 'action_url' %}"
      {% endif %}
  enctype="multipart/form-data">

{% endblock %}

{% block button_name %}
{% if is_edit %}
    Сохранить
{% else %}
    Добавить
{% endif %}{% endblock %}

{% block ext_data %}
{% endblock %}
