<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-4">
  <header class="pb-3 mb-4 border-bottom text-center">
    <span class="fs-4 fw-bold" >Технологии которые узнал реализуюя этот проект.</span>
  </header>

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="h-100 p-5 bg-light border rounded-3">
      <p class="col-md-8 fs-4">
        <ul class="list-group">
          <li class="list-group-item active">Django</li>
          <li class="list-group-item">Gunicorn</li>
          <li class="list-group-item active">Nginx</li>
          <li class="list-group-item">Postgres</li>
          <li class="list-group-item active">Bootstrap</li>
          <li class="list-group-item">Django template</li>
          <li class="list-group-item active">Django ORM</li>
          <li class="list-group-item">Unittest</li>
          <li class="list-group-item active">Sorl-thumbnail</li>
          <li class="list-group-item">Certbot</li>
        </ul>
      </p>
    </div>
  </div>
  </div>
{% endblock %}