{% extends "base.html" %}

{% block content %}
<h1>Search Form</h1>
<form action="{% url 'swportmgmt:search' %}" method="post">{% csrf_token %}
    {{ search_form }}
    <input type="submit" value="Search">
</form>
{% if switchportmgmt %}
<h1>Port management Form</h1>
<form class='form-control-static' action="{% url 'swportmgmt:switchportmgmt' %}" method="post">
    {% csrf_token %}
    <table class="table table-bordered border-primary w-auto">
      {{ switchportmgmt.management_form }}
      <thead class="table table-bordered border-primary">
        <tr>
          {% for field in switchportmgmt.form %}
            <th class="text-center" align="center">{{ field.label }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for form in switchportmgmt %}
          <tr>
            {% for field in form %}
              <td align="center">{{ field }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
   </table>
  <br>
<input type="submit" value="Set up ports">
</from>
{% endif %}
{% endblock %}
